<!DOCTYPE html>
<html>
<head>
	<title>GALLERY | Lift & Fit Gym</title>
	<link rel="stylesheet" type="text/css" href="../static/gallery.css">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h3>Photo <span>Gallery</span></h3>
    </div>
    <div class="box">
      
      <div class="dream">
        <img src="../static/1.jpg">
         <img src="../static/2.jpg">
          <img src="../static/3.jpg">
           <img src="../static/4.jpg">
            <img src="../static/5.jpg">
            
      </div>

        <div class="dream">
        <img src="../static/6.jpg">
         <img src="../static/7.jpg">
          <img src="../static/8.jpg">
           <img src="../static/9.jpg">
            <img src="../static/10.jpg">
            
      </div>

        <div class="dream">
        <img src="../static/11.jpg">
         <img src="../static/12.jpg">
          <img src="../static/13.jpg">
           <img src="../static/14.jpg">
            <img src="../static/15.jpg">
            
      </div>




    </div>
    <div class="btn">
      <a style="text-decoration:none" href="{{url_for('homepage')}}">HOME</a>
    </div>





  </div>

</body>
</html>